.card {
  margin: auto;
  max-width: 950px;
  width: 90%;
  /* box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border-radius: 1rem;
  border: transparent;
}
.form-check-input:checked + .card1 {
  border-color: #007bff; /* Ganti dengan warna yang Anda inginkan */
  /* Atau gunakan properti lain seperti color, dll. */
}
.form-check-input {
  border: 2px #aaaaaa solid;
  font-size: 20px;
  margin-top: 10px;
}
.vertical-line {
  border-left: 3px solid#ADADAD; /* Warna dan ketebalan garis */
  position: absolute;
  height: 100%; /* Garis akan mengisi tinggi elemen di mana ia ditempatkan */
  left: 57%; /* Anda dapat menyesuaikan posisinya jika diperlukan */
  /* Ini akan mengatur posisi di tengah elemen yang lebih besar */
}
.card1 {
  border: 2px #aaaaaa solid;
  border-radius: 16px;
  margin-left: 20px;
}
.card2 {
  border: 5px #adadad solid;
  border-radius: 10px;
}
.card3 {
  border: 5px #adadad solid;
  border-radius: 10px;
}
.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  max-height: 500px;
  overflow-y: auto;
}
.cart::-webkit-scrollbar {
  width: 0;
}
.text-produk {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 15px;
  font-family: Lexend;
  font-weight: 700;
  word-wrap: break-word;
}
.harga-produk {
  color: #aaaaaa;
  font-size: 15px;
  font-family: Lexend;
  font-weight: 400;
  word-wrap: break-word;
}
.angka-keranjang {
  background-color: #fdefef;
  padding: 1px 20px;
  font-size: 15px;
}
#price::before {
  content: "Rp. ";
  color: #aaaaaa;
  font-size: 15;
  font-family: Lexend;
  font-weight: 400;
  word-wrap: break-word;
}
#price2::before {
  content: "Rp. ";
  color: black;
  font-size: 15px;
  font-family: Lexend;
  font-weight: 700;
  word-wrap: break-word;
}
.harga-produk::before {
  content: "Rp. ";
}

.belanja {
  background-color: #fff;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh 5vh;
  color: rgb(65, 65, 65);
}
.border-box {
  border: 2px #aaaaaa solid;
  padding: 10px;
  border-radius: 20px;
}



.text-rb {
  color: black;
  font-size: 17px;
  font-family: Lexend;
  font-weight: 700;
  word-wrap: break-word;
}
.text-tb {
  color: #aaaaaa;
  font-size: 15px;
  font-family: Lexend;
  font-weight: 400;
  word-wrap: break-word;
}
.harga-barang {
  color: #aaaaaa;
  font-size: 15px;
  font-family: Lexend;
  font-weight: 400;
  word-wrap: break-word;
}
.text-tbel {
  color: black;
  font-size: 15px;
  font-family: Lexend;
  font-weight: 700;
  word-wrap: break-word;
}
.harga-total {
  color: black;
  font-size: 15px;
  font-family: Lexend;
  font-weight: 700;
  word-wrap: break-word;
}

@media (max-width: 767px) {
  .card {
    margin: 3vh auto;
  }
  .text-produk {
    font-size: 20px;
    height: 30px;
    width: 100px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .cart {
    padding: 3vh;
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem;
  }
  .belanja {
    /* position: fixed;
        bottom: 0;
        left: 0;   kalo mau cardnya fix dibawah
        right: 0; */
    padding: 6vh;
    bottom: 0;
  }
  .vertical-line {
    height: 0;
  }
}

/* s .belanja .col-2 {
      padding: 0;
    }
    .belanja .col-10 {
      padding: 0;
    } */
.row {
  margin: 0;
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}

.col {
  padding: 0 1vh;
}
a {
  padding: 5vh 1vh 0 0;
}
img {
  width: 3.5rem;
}

/* input {
      border: 1px solid rgba(0, 0, 0, 0.137);
      padding: 1vh;
      margin-bottom: 4vh;
      outline: none;
      width: 100%;
      background-color: rgb(247, 247, 247);
    }
    input:focus::-webkit-input-placeholder {
      color: transparent;
    } */
.btn {
  color: white;
  width: 100%;
  font-size: 15px;
  margin-top: 4vh;
  padding-top: 5px;
  padding-bottom: 6px;
  border-radius: 9px;
}
.btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none;
}
.btn:hover {
  color: white;
}
a {
  color: black;
  font-size: 15px;
}
.bi-trash {
  color: red;
}
a:hover {
  color: black;
  text-decoration: none;
}
