body {
  height: 1000vh;
  font-family: "Lexend", sans-serif;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}

/* akhir search button */
.container {
  display: grid;

  grid-template-areas:
    "satu satu satu"
    "dua tiga empat"
    "dua lima lima"
    "wadah wadah wadah"
    "wadah2 wadah2 wadah2"
    "wadah3 wadah3 wadah3";
  grid-template-columns: 0.47fr 0.2fr 0.2fr;
  grid-template-rows: 1fr 0.4fr 0.4fr;
}
img {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
.card a {
  text-decoration: none;
  color: inherit;
}
.gbrsatu {
  background-color: #ff0000;
  grid-area: satu;
  background: #070707;
  border-radius: 21px;
  overflow: hidden;
  border: 2px #aaaaaa solid;
  justify-content: flex-end;
  align-items: center;
  display: inline-flex;
}

.gbrdua {
  grid-area: dua;
  margin: 5px;
  border-radius: 21px;
  overflow: hidden;
  border: 2px #aaaaaa solid;
  background: #070707;
}
.gbrtiga {
  grid-area: tiga;
  margin: 5px;
  border-radius: 21px;
  overflow: hidden;
  border: 2px #aaaaaa solid;
  background: #070707;
}
.gbrempat {
  grid-area: empat;
  margin: 5px;
  border-radius: 21px;
  overflow: hidden;
  border: 2px #aaaaaa solid;
  background: #070707;
}
.gbrlima {
  grid-area: lima;
}
.ct1 {
  font-size: 20px;
  margin-left: 10px;
  font-weight: lighter;
  font-family: "Lexend", sans-serif;
}
.scrollbar-ct {
  flex-basis: 100%;
  display: grid;
  margin-left: 20px;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 5px;
  overflow: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.scrollbar-ct::-webkit-scrollbar {
  display: none;
}
.ct3 {
  margin: 10px;
  background: #ffc5c5;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.scrollbar-ct .ct-text {
  font-size: 10px;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}
.checked {
  color: orange;
}
.card-footer .d-flex .btn {
  background: #ff0000;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
.btn:hover {
  background: #ff0000;
}
#konten {
  display: flex;
  flex-wrap: wrap;
}
.wadah1 {
  grid-area: wadah;
}
.wadah2 {
  grid-area: wadah2;
}
.wadah3 {
  grid-area: wadah3;
}
h2 {
  margin-bottom: 2rem;
  font-weight: bolder;
  font-size: medium;
}
.card-text {
  color: #aaaaaa;
}
/* CSS buat search*/
.search-filter {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 80px;
  justify-content: center;
  display: grid;
  grid-template-areas: "search search filter";
  grid-template-columns: 0.47fr 0.2fr 0.2fr;
}
.form-search button {
  grid-area: search;
  border: 1px #aaaaaa solid;
  border-radius: 10px 0 0 10px;
  padding: 0px 10px;
  outline: none;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  background: #ee5151;
}
.form-search input {
  max-width: 50%;
  grid-area: search;
}
/* css filter */
.form-filter {
  grid-area: filter;
  max-width: 65%;
}

/*akhir css*/
@media (max-width: 768px) {
  .card-footer .d-flex .btn {
    width: 40px;
    height: 40px;
  }
  h2 {
    padding-left: 30px;
  }
  #konten {
    padding-left: 30px;
    padding-right: 30px;
  }
  .card {
    width: 13rem;
  }
  .container {
    grid-gap: 5px;
    grid-template-columns: 0.7fr 0.4fr 0.4fr;
    grid-template-rows: 1fr 0.4fr 0.2fr;
  }
  /*CSS Buat search responsive*/
  .search-filter {
    margin-left: 0px;
    margin-right: 0;
  }
  .search-filter .form-filter {
    width: 100%;
    grid-template-columns: 0.47fr 0.2fr 0.4fr;
  }
}
@media (max-width: 565px) {
  .card {
    width: 12rem;
  }
}
