body {
  font-family: "Lexend", sans-serif;
  font-family: "Poppins", sans-serif;
}
/* style awal tambah alamat */
.form-control {
  border: 1px #adadad solid;
}
.form-alamat {
  color: #656565;
  font-size: 20px;
  font-family: Lexend;
  font-weight: 700;
}
hr {
  border: 1px #adadad solid;
}
/* style akhir tambah alamat */
