body {
  font-family: "Lexend", sans-serif;
  font-family: "Poppins", sans-serif;
}
.card {
  margin: auto;
  max-width: 950px;
  width: 90%;
  /* box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border-radius: 1rem;
  border: transparent;
}
.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
.wadah {
  border-bottom: 2px #aaaaaa solid;
}
.title-checkout {
  border-bottom: 2px #aaaaaa solid;
}
.checkout {
  color: black;
  font-size: 35px;
  font-family: Lexend;
  font-weight: 700;
  word-wrap: break-word;
}
.alamat-checkout {
  color: black;
  font-size: 22px;
  font-family: Lexend;
  font-weight: 500;
  word-wrap: break-word;
}
.nama-penerima {
  color: black;
  font-size: 22px;
  font-family: Lexend;
  font-weight: 500;
  word-wrap: break-word;
}
.no-hp {
  color: black;
  font-size: 22px;
  font-family: Lexend;
  font-weight: 300;
  word-wrap: break-word;
}
.deskripsi-alamat {
  color: #aaaaaa;
  font-size: 18px;
  font-family: Lexend;
  font-weight: 300;
  word-wrap: break-word;
}
.btn-ubah-alamat {
  font-size: 18px;
  font-family: Lexend;
  font-weight: 600;
  word-wrap: break-word;
  color: #aaaaaa;
  border: 2px rgba(170, 170, 170, 0.67) solid;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  border-radius: 6px;
  background-color: #fff;
  width: 30%;
  height: 100%;
}
.card1 {
  border-radius: 14px;
  border: 2px #ee5151 solid;
  margin-left: 2px;
  margin-bottom: 10px;
  width: 100%; /* Menggunakan lebar 100% agar sesuai dengan lebar layar */
  max-width: 500px; /* Maksimum lebar card1 */
  height: auto;
}
.scrollbar-card1 {
  padding: 2vh;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.scrollbar-card1::-webkit-scrollbar {
  width: 10px; /* Lebar scrollbar */
}

.scrollbar-card1::-webkit-scrollbar-thumb {
  background-color: #888; /* Warna thumb (bagian yang dapat digerakkan) scrollbar */
  border-radius: 5px; /* Sudut lengkungan thumb scrollbar */
}

.scrollbar-card1::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Warna track (bagian yang tidak dapat digerakkan) scrollbar */
}
.nama-barang {
  color: black;
  font-size: 20px;
  font-family: Lexend;
  font-weight: 500;
  word-wrap: break-word;
}
.text-produk {
  color: #aaaaaa;
  font-size: 18px;
  font-family: Lexend;
  font-weight: 300;
  word-wrap: break-word;
}
.scrollbar-card1 .harga-produk {
  color: black;
  font-size: 20px;
  font-family: Lexend;
  font-weight: 500;
  word-wrap: break-word;
}
.col-auto img {
  max-width: 100px;
  max-height: 100px;

  border-radius: 14px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.text-produk {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 15px;
  font-family: Lexend;
  font-weight: 700;
}
.dropdown-center {
  position: relative; /* Diperlukan untuk menggunakan position: absolute pada .dropdown-menu */
}

.dropdown-menu {
  width: 100%; /* Atur lebar dropdown menu sesuai dengan lebar button */
  position: absolute;
  top: 100%; /* Letakkan dropdown menu di bawah button */
  max-height: 200px; /* Atur maksimum tinggi dropdown */
  overflow-y: auto; /* Aktifkan overflow-y untuk menampilkan scroll bar ketika kontennya*/
}
.option-info {
  display: flex;
  flex-direction: column; /* Menyusun elemen-elemen berdasarkan kolom */
  gap: 5px; /* Jarak antara elemen-elemen vertikal */
  padding: 10px; /* Tambahkan padding untuk memisahkan elemen-elemen di dalam dropdown */
}
.option-description-harga {
  display: flex;
  justify-content: space-between;
}

.option-description {
  color: #888; /* Warna teks untuk deskripsi */
}

.option-harga {
  color: #555; /* Warna teks untuk harga */
  order: 3; /* Mengubah urutan elemen agar berada di bawah reguler */
}
.option-info-gambar {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
}
.option-gambar img {
  max-width: 30px; /* Atur lebar maksimal gambar */
  max-height: 30px; /* Atur tinggi maksimal gambar */
  vertical-align: middle; /* Menyusun gambar secara vertikal di tengah */
  margin-bottom: 5px;
  border-radius: 2px;
}
.option-title-gambar {
  margin-bottom: 5px;
  margin-left: 10px;
}

#price::before {
  content: "Rp. ";
  color: #aaaaaa;
  font-size: 15;
  font-family: Lexend;
  font-weight: 400;
  word-wrap: break-word;
}
#price2::before {
  content: "Rp. ";
  color: black;
  font-size: 15px;
  font-family: Lexend;
  font-weight: 700;
  word-wrap: break-word;
}

.belanja {
  background-color: #fff;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh 5vh;
  color: rgb(65, 65, 65);
}
.border-box {
  border: 2px #aaaaaa solid;
  padding: 10px;
  border-radius: 20px;
  margin-top: 40px;
}

.angka-keranjang {
  background-color: #fdefef;
  padding: 1px 20px;
  font-size: 15px;
}
.text-rb {
  color: black;
  font-size: 17px;
  font-family: Lexend;
  font-weight: 700;
  word-wrap: break-word;
}
.text-tb {
  color: #aaaaaa;
  font-size: 15px;
  font-family: Lexend;
  font-weight: 400;
  word-wrap: break-word;
}
.harga-barang {
  color: #aaaaaa;
  font-size: 15px;
  font-family: Lexend;
  font-weight: 400;
  word-wrap: break-word;
}
.text-tbel {
  color: black;
  font-size: 15px;
  font-family: Lexend;
  font-weight: 700;
  word-wrap: break-word;
}
.harga-total {
  color: black;
  font-size: 15px;
  font-family: Lexend;
  font-weight: 700;
  word-wrap: break-word;
}

@media (max-width: 767px) {
  .card {
    margin: 3vh auto;
  }
  .text-produk {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 15px;
    font-family: Lexend;
    font-weight: 700;
  }
  .cart {
    padding: 3vh;
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem;
  }
  .belanja {
    /* position: fixed;
        bottom: 0;
        left: 0;   kalo mau cardnya fix dibawah
        right: 0; */
    padding: 6vh;
    bottom: 0;
  }
  .card1 {
    width: 100%; /* Menggunakan lebar 100% agar sesuai dengan lebar layar */
    max-width: none; /* Menghapus maksimum lebar card1 */
    margin-left: 3px;
  }
}

/* s .belanja .col-2 {
      padding: 0;
    }
    .belanja .col-10 {
      padding: 0;
    } */

.col {
  padding: 0 1vh;
}
a {
  padding: 5vh 1vh 0 0;
}

.btn {
  width: 100%;
  font-size: 15px;
  margin-top: 4vh;
  padding-top: 5px;
  padding-bottom: 6px;
  border-radius: 9px;
}

a {
  color: black;
  font-size: 15px;
}
.bi-trash {
  color: red;
}
a:hover {
  color: black;
  text-decoration: none;
}
