body {
  font-family: "Lexend", sans-serif;
  font-family: "Poppins", sans-serif;
}
/* Menghapus border pada card */
.card.no-border {
  border: none;
  border-radius: 0; /* Juga menghapus border radius jika ada */
}
