body {
  font-family: "Lexend", sans-serif;
  font-family: "Poppins", sans-serif;
}
/* style navbar */
.navbar-brand {
  font-style: bold;
  font-size: 36px;
}
.nav-link {
  font-style: bold;
  font-size: 16px;
}
.navbar #navbarNav .navbar-nav .nav-item .nav-link:hover {
  color: #ee5151;
}
/* style login */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
section .imgBox {
  position: relative;
  width: 50%;
  height: 100vh;
}

section .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section .contentBox {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
section .contentBox .formBox {
  width: 50%;
}
section .contentBox .formBox .square {
  color: rgb(18, 209, 34);
  width: 100%;
  height: 200px;
}
section .contentBox .formBox h2 {
  color: #e91e63;
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 80px;
  display: flex;
  letter-spacing: 1px;
  justify-content: center;
  text-align: center;
}
section .contentBox .formBox .inputBox {
  margin-bottom: 15px;
}

section .contentBox .formBox .inputBox span {
  font-size: 16px;
  margin-bottom: 5px;
  display: flex;
  color: #c7c7c7;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}
section .contentBox .formBox .inputBox input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 3px #adadad solid;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8b;
  background: transparent;
  border-radius: 14px;
}
section .contentBox .formBox .inputBox input[type="submit"] {
  background: #fff;
  color: rgb(235, 15, 15);
  width: 50%;
  border: 3px #ee5151 solid;
  font-weight: 500;
  cursor: pointer;
  margin-top: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .contentBox .formBox .inputBox input[type="submit"]:hover {
  background: #ece5e5;
}
section .contentBox .formBox .inputBox button span {
  color: #ee5151;
  font-size: 20px;
  font-weight: 600;
  word-wrap: break-word;
}

section .contentBox .formBox .inputBox p {
  color: #c7c7c7;
  text-align: center;
}
section .contentBox .formBox .inputBox p a {
  color: #52b8f2;
}
.alert {
  border-radius: 14px;
}

/* membuat tampilan login jadi satu  */
@media (max-width: 768px) {
  /* css login,register dan lupa password */
  section .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  section .contentBox {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  section .contentBox .formBox {
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 50px;
  }
  /*akhir  css login,register dan lupa password */
  /* css akun */
  .form-akun .inputBx input {
    padding: 10px 40px;
  }
  .form-akun .inputBox input {
    padding: 10px 20px;
  }
  .foto {
    margin-left: 130px;
    margin-right: 100px;
  }
}

/* style awal  akun*/
.container-akun {
  font-family: "Lexend", sans-serif;
  margin-top: 0;
  width: 1200px;
  height: auto;
}
.foto {
  border: 2px #adadad solid;
  border-radius: 27px;
  margin-top: 30px;
  height: 345px;
  display: flex;
  justify-content: center;
}
.foto img {
  width: 200px;
  height: 300px;
  margin-top: 22px;
}
.form-akun {
  margin-top: 15px;
}
.form-akun .inputBox span {
  font-size: 20px;
  font-family: Lexend;
  font-weight: 700;
}
.form-akun .inputBox p {
  color: #929090;
  font-size: 15px;
  font-weight: 400;
}
.form-akun .inputBox span a {
  color: #ee5151;
  font-size: 15px;
  font-weight: 400;
}
/* akhir css akun-button ubah profil */
.btn-outline-danger {
  font-family: "Lexend", sans-serif;
  border-radius: 12px;
  font-weight: 700;
  padding: 10px 40px;
}
.modal-body input {
  border-radius: 11px;
  border: 2px #aaaaaa solid;
  padding: 5px 10px;
}
.mb-3 .d-flex .form-control {
  margin-right: 80px;
}
.modal-body .mb-3 .d-flex button {
  white-space: nowrap;
  padding: 5px 20px;
}
.modal-body .mb-3 .inputan {
  width: 40%;
}
.modal-body {
  font-size: 23px;
  font-weight: 700;
}
/* akhir css akun-button ubah profil */
.inputBx input[type="submit"] {
  background-color: #ee5151;
  color: rgb(248, 243, 243);
  width: 100%;
  border: 3px #ee5151 solid;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputBx input {
  padding: 10px 90px;
}
/* style akhir akun */

/* style awal tambah alamat */
.form-control {
  border: 1px #adadad solid;
}
.form-alamat {
  color: #656565;
  font-size: 20px;
  font-family: Lexend;
  font-weight: 700;
}
hr {
  border: 1px #adadad solid;
}
/* style akhir tambah alamat */
