body {
  height: 1000vh;
}
.container {
  max-width: 2000px;
  display: grid;
  grid-template-areas:
    "satu satu satu"
    "dua tiga empat"
    "dua lima lima";
  grid-template-columns: 1fr 0.5fr 0.5fr;
  grid-template-rows: 2fr 0.7fr 0.7fr;
  margin: 0px 138px;
  border-bottom: 2px solid #aaaaaa;
}
img {
  width: 100%;
  height: 100%;
}
.satu {
  grid-area: satu;
  margin: 5px;
  border-radius: 21px;
  background: #070707;
  border-radius: 21px;
  overflow: hidden;
  border: 2px #aaaaaa solid;
  justify-content: flex-end;
  align-items: center;
  display: inline-flex;
}

.dua {
  grid-area: dua;
  margin: 5px;
  border-radius: 21px;
  overflow: hidden;
  border: 2px #aaaaaa solid;
  background: #070707;
}
.tiga {
  grid-area: tiga;
  margin: 5px;
  border-radius: 21px;
  overflow: hidden;
  border: 2px #aaaaaa solid;
  background: #070707;
}
.empat {
  grid-area: empat;
  margin: 5px;
  border-radius: 21px;
  overflow: hidden;
  border: 2px #aaaaaa solid;
  background: #070707;
}
.lima {
  background-color: turquoise;
  grid-area: lima;
  margin: 5px;
  display: grid;
  grid-template-rows: 30px auto;
  grid-template-columns: 120px;
}
.cb1 {
  background-color: chartreuse;
}
.cb2 {
  margin: 8px auto;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
}
.cb3 {
  margin: 5px;
  background: #ffc5c5;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.cb3 p {
  flex-direction: row;
}
.card-img-top {
  width: 40px;
  height: 40px;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}
.checked {
  color: orange;
}
.list-group-item .btn {
  border-radius: 9999px;
  background: #ff0000;
  margin-left: 200px;
}
.list-group-item .btn:hover {
  background: #ff0000;
}
.containerdua {
  margin: 0px 138px;
  padding: 15px 15px 15px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.card {
  margin: 0px 15px;
  width: 18rem;
  margin-top: 50px;
}
.containertiga {
  margin: 0px 138px;
  padding: 15px 15px 15px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* .katagori {
  grid-area: katagori;
  background-color: #1c41ba;
  margin: 10px;
}
h5 {
  grid-area: h5;
  margin: 10px;
} */
/* .coba {
  display: grid;
  grid-template-rows: 30px auto;
  grid-template-columns: 120px;
  /* grid-auto-flow: column;
  grid-auto-columns: 50px; */
/* background-color: violet; */
