body {
  font-family: "Lexend", sans-serif;
  font-family: "Poppins", sans-serif;
}
/* style navbar */
.navbar-brand {
  font-style: bold;
  font-size: 36px;
}
.nav-link {
  font-style: bold;
  font-size: 16px;
}
/* style login */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
section .imgBox {
  position: relative;
  width: 50%;
  height: 100vh;
}

section .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section .contentBox {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
section .contentBox .formBox {
  width: 50%;
}
section .contentBox .formBox .square {
  color: rgb(18, 209, 34);
  width: 100%;
  height: 200px;
}
section .contentBox .formBox h2 {
  color: #e91e63;
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 80px;
  display: flex;
  letter-spacing: 1px;
  justify-content: center;
  text-align: center;
}
section .contentBox .formBox .inputBox {
  margin-bottom: 20px;
}
.lupapassword {
}
section .contentBox .formBox .inputBox span {
  font-size: 16px;
  margin-bottom: 5px;
  display: flex;
  color: #c7c7c7;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}
section .contentBox .formBox .inputBox input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 3px #adadad solid;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8b;
  background: transparent;
  border-radius: 14px;
}
section .contentBox .formBox .inputBox input[type="submit"] {
  background: #fff;
  color: rgb(235, 15, 15);
  width: 50%;
  border: 3px #ee5151 solid;
  font-weight: 500;
  cursor: pointer;
  margin-top: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .contentBox .formBox .inputBox input[type="submit"]:hover {
  background: #ece5e5;
}
section .contentBox .formBox .inputBox button span {
  color: #ee5151;
  font-size: 20px;
  font-weight: 600;
  word-wrap: break-word;
}

section .contentBox .formBox .inputBox p {
  color: #c7c7c7;
  text-align: center;
}
section .contentBox .formBox .inputBox p a {
  color: #52b8f2;
}
.alert {
  border-radius: 14px;
}

/* membuat tampilan login jadi satu  */
@media (max-width: 768px) {
  section .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  section .contentBox {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  section .contentBox .formBox {
    background: #fff;
    width: 100%;
    height: 600px;
    padding: 40px;
    margin: 50px;
  }
}
/* style akhir login */
